openapi: 3.2.0
info:
  title: Greenhouse Io Departments API
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
  description: 'Operations tagged Departments across 2 of this provider''s published API definitions: greenhouse-harvest-api-openapi.yml, greenhouse-job-board-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production Harvest API
- url: https://boards-api.greenhouse.io/v1/boards/{board_token}
  description: Public Job Board API
  variables:
    board_token:
      default: example
      description: The customer's unique board token (e.g. "exampleco").
tags:
- name: Departments
  description: Organizational departments.
paths:
  /departments:
    get:
      tags:
      - Departments
      summary: List Departments
      operationId: listDepartments
      responses:
        '200':
          description: Departments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    post:
      tags:
      - Departments
      summary: Create Department
      operationId: createDepartment
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Department'
      responses:
        '201':
          description: Created.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
  /departments/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Departments
      summary: Retrieve Department
      operationId: getDepartment
      responses:
        '200':
          description: Department.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    patch:
      tags:
      - Departments
      summary: Update Department
      operationId: updateDepartment
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Department'
      responses:
        '200':
          description: Updated.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
components:
  schemas:
    Department:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        parent_id:
          type: integer
          nullable: true
        parent_department_external_id:
          type: string
          nullable: true
        child_ids:
          type: array
          items:
            type: integer
        external_id:
          type: string
          nullable: true
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    BoardDepartment:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        parent_id:
          type: integer
          nullable: true
        child_ids:
          type: array
          items:
            type: integer
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/BoardJob'
    BoardJob:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        location:
          type: object
          properties:
            name:
              type: string
        absolute_url:
          type: string
          format: uri
        internal_job_id:
          type: integer
        company_name:
          type: string
        first_published:
          type: string
          format: date-time
        requisition_id:
          type: string
          nullable: true
        data_compliance:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              requires_consent:
                type: boolean
              retention_period:
                type: integer
                nullable: true
        metadata:
          type: array
          items:
            type: object
        departments:
          type: array
          items:
            $ref: '#/components/schemas/BoardDepartment'
        offices:
          type: array
          items:
            $ref: '#/components/schemas/BoardOffice'
        content:
          type: string
    BoardOffice:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        location:
          type: string
        parent_id:
          type: integer
          nullable: true
        child_ids:
          type: array
          items:
            type: integer
        departments:
          type: array
          items:
            $ref: '#/components/schemas/BoardDepartment'
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: false
      description: The ID of the Greenhouse user the request is being made on behalf of.
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Harvest API key as the username and an empty password (Base64 encoded).
x-refined-from:
- greenhouse-harvest-api-openapi.yml
- greenhouse-job-board-api-openapi.yml
