openapi: 3.2.0
info:
  title: Greenhouse Io Prospect Pools API
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
  description: 'Operations tagged ProspectPools across 2 of this provider''s published API definitions: greenhouse-candidate-ingestion-api-openapi.yml, greenhouse-harvest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.greenhouse.io/v1/partner
  description: Production Partner API
- url: https://harvest.greenhouse.io/v1
  description: Production Harvest API
tags:
- name: ProspectPools
  description: Read configured prospect pools and their stages.
paths:
  /prospect_pools:
    get:
      tags:
      - ProspectPools
      summary: List Partner Prospect Pools
      operationId: listPartnerProspectPools
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      responses:
        '200':
          description: Prospect pools.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    stages:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          priority:
                            type: integer
      security:
      - OAuth2:
        - partner
      - BasicAuth: []
    servers:
    - url: https://api.greenhouse.io/v1/partner
      description: Production Partner API
  /prospect_pools/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - ProspectPools
      summary: Retrieve Prospect Pool
      operationId: getProspectPool
      responses:
        '200':
          description: Prospect pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProspectPool'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
components:
  parameters:
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: true
      description: Email of the Greenhouse user the request is made on behalf of (Basic auth) or implied from the OAuth token.
      schema:
        type: string
        format: email
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    ProspectPool:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        prospect_stages:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              priority:
                type: integer
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.greenhouse.io/oauth/authorize
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
        clientCredentials:
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Partner API key as the username and an empty password.
x-refined-from:
- greenhouse-candidate-ingestion-api-openapi.yml
- greenhouse-harvest-api-openapi.yml
