openapi: 3.2.0
info:
  title: Greenhouse Harvest Job Openings API
  description: 'The Harvest API is Greenhouse''s primary REST API for programmatic access to recruiting data:

    candidates, applications, jobs, openings, job posts, departments, offices, users, offers,

    approvals, scheduled interviews, scorecards, sources, tags, custom fields, prospect pools,

    and the activity feed. Harvest uses HTTP Basic authentication with a per-permission API key,

    RFC-5988 Link-header pagination (default 100, max 500 per page), and a per-token rate limit

    of N requests per 10 seconds returned in the X-RateLimit-Limit header.

    '
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
  license:
    name: Greenhouse API Terms
    url: https://www.greenhouse.com/legal
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production Harvest API
security:
- BasicAuth: []
tags:
- name: JobOpenings
  description: Individual openings under a Job.
paths:
  /openings:
    get:
      tags:
      - JobOpenings
      summary: List Openings
      operationId: listOpenings
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Array of openings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opening'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
      - JobOpenings
      summary: Create Opening
      operationId: createOpening
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Opening'
      responses:
        '201':
          description: Created.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
      - JobOpenings
      summary: Delete Openings Bulk
      operationId: deleteOpenings
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      responses:
        '204':
          description: Deleted.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /openings/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - JobOpenings
      summary: Retrieve Opening
      operationId: getOpening
      responses:
        '200':
          description: Opening.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opening'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
      - JobOpenings
      summary: Update Opening
      operationId: updateOpening
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Opening'
      responses:
        '200':
          description: Updated.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Default 100, max 500.
      schema:
        type: integer
        default: 100
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: false
      description: The ID of the Greenhouse user the request is being made on behalf of.
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Opening:
      type: object
      properties:
        id:
          type: integer
        opening_id:
          type: string
        status:
          type: string
          enum:
          - open
          - closed
        opened_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
          nullable: true
        application_id:
          type: integer
          nullable: true
        close_reason:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
        custom_fields:
          type: object
          additionalProperties: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Harvest API key as the username and an empty password (Base64 encoded).
