openapi: 3.2.0
info:
  title: Greenhouse Io Users API
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: greenhouse-candidate-ingestion-api-openapi.yml, greenhouse-harvest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.greenhouse.io/v1/partner
  description: Production Partner API
- url: https://harvest.greenhouse.io/v1
  description: Production Harvest API
tags:
- name: Users
  description: Inspect the current authenticated user.
paths:
  /current_user:
    get:
      tags:
      - Users
      summary: Retrieve Current Partner User
      operationId: getCurrentPartnerUser
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                    format: email
      security:
      - OAuth2:
        - partner
      - BasicAuth: []
    servers:
    - url: https://api.greenhouse.io/v1/partner
      description: Production Partner API
  /users:
    get:
      tags:
      - Users
      summary: List Users
      operationId: listUsers
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - name: email
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    post:
      tags:
      - Users
      summary: Create User
      operationId: createUser
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Created.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
  /users/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Users
      summary: Retrieve User
      operationId: getUser
      responses:
        '200':
          description: User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    patch:
      tags:
      - Users
      summary: Update User
      operationId: updateUser
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Updated.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
  /users/{id}/email_addresses:
    post:
      tags:
      - Users
      summary: Add User Email
      operationId: addUserEmail
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                primary:
                  type: boolean
      responses:
        '201':
          description: Added.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
components:
  parameters:
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: true
      description: Email of the Greenhouse user the request is made on behalf of (Basic auth) or implied from the OAuth token.
      schema:
        type: string
        format: email
    PerPage:
      name: per_page
      in: query
      description: Default 100, max 500.
      schema:
        type: integer
        default: 100
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    OnBehalfOf_2:
      name: On-Behalf-Of
      in: header
      required: false
      description: The ID of the Greenhouse user the request is being made on behalf of.
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    User:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        primary_email_address:
          type: string
          format: email
        emails:
          type: array
          items:
            type: string
            format: email
        employee_id:
          type: string
          nullable: true
        site_admin:
          type: boolean
        disabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        linked_candidate_ids:
          type: array
          items:
            type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.greenhouse.io/oauth/authorize
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
        clientCredentials:
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Partner API key as the username and an empty password.
x-refined-from:
- greenhouse-candidate-ingestion-api-openapi.yml
- greenhouse-harvest-api-openapi.yml
