openapi: 3.2.0
info:
  title: Greenhouse Harvest Offers API
  description: 'The Harvest API is Greenhouse''s primary REST API for programmatic access to recruiting data:

    candidates, applications, jobs, openings, job posts, departments, offices, users, offers,

    approvals, scheduled interviews, scorecards, sources, tags, custom fields, prospect pools,

    and the activity feed. Harvest uses HTTP Basic authentication with a per-permission API key,

    RFC-5988 Link-header pagination (default 100, max 500 per page), and a per-token rate limit

    of N requests per 10 seconds returned in the X-RateLimit-Limit header.

    '
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
  license:
    name: Greenhouse API Terms
    url: https://www.greenhouse.com/legal
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production Harvest API
security:
- BasicAuth: []
tags:
- name: Offers
  description: Offers extended to candidates.
paths:
  /offers:
    get:
      tags:
      - Offers
      summary: List Offers
      operationId: listOffers
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - approved
          - sent
          - sent_manually
          - accepted
          - rejected
          - deprecated
      responses:
        '200':
          description: Offers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /offers/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Offers
      summary: Retrieve Offer
      operationId: getOffer
      responses:
        '200':
          description: Offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /offers/{id}/current:
    patch:
      tags:
      - Offers
      summary: Update Current Offer
      operationId: updateCurrentOffer
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      responses:
        '200':
          description: Updated.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /applications/{id}/offers:
    get:
      tags:
      - Offers
      summary: List Application Offers
      operationId: listApplicationOffers
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Offers for the application.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /applications/{id}/offers/current:
    get:
      tags:
      - Offers
      summary: Retrieve Current Application Offer
      operationId: getCurrentApplicationOffer
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Current offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Default 100, max 500.
      schema:
        type: integer
        default: 100
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: false
      description: The ID of the Greenhouse user the request is being made on behalf of.
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Offer:
      type: object
      properties:
        id:
          type: integer
        application_id:
          type: integer
        version:
          type: integer
        status:
          type: string
          enum:
          - draft
          - approved
          - sent
          - sent_manually
          - accepted
          - rejected
          - deprecated
        sent_at:
          type: string
          format: date-time
          nullable: true
        resolved_at:
          type: string
          format: date-time
          nullable: true
        starts_at:
          type: string
          format: date
          nullable: true
        custom_fields:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Harvest API key as the username and an empty password (Base64 encoded).
