openapi: 3.2.0
info:
  title: Greenhouse Candidate Ingestion Tracking Links API
  description: 'The Candidate Ingestion API (a.k.a. the Partner API) lets sourcing partners create

    candidates and prospects in a customer''s Greenhouse account, list visible jobs and

    prospect pools, fetch the current user, and generate branded tracking links.

    Authentication is OAuth 2.0 (Authorization Code or Client Credentials) or HTTP Basic

    with a Partner API key plus an On-Behalf-Of header carrying a Greenhouse user email.

    '
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
servers:
- url: https://api.greenhouse.io/v1/partner
  description: Production Partner API
security:
- OAuth2:
  - partner
- BasicAuth: []
tags:
- name: TrackingLinks
  description: Generate branded tracking links for sourcing campaigns.
paths:
  /tracking_link:
    post:
      tags:
      - TrackingLinks
      summary: Create Tracking Link
      description: Generate a branded tracking link tied to the partner and an optional job.
      operationId: createTrackingLink
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: integer
                source_id:
                  type: integer
                external_id:
                  type: string
      responses:
        '201':
          description: Tracking link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time
components:
  parameters:
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: true
      description: Email of the Greenhouse user the request is made on behalf of (Basic auth) or implied from the OAuth token.
      schema:
        type: string
        format: email
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.greenhouse.io/oauth/authorize
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
        clientCredentials:
          tokenUrl: https://app.greenhouse.io/oauth/token
          scopes:
            partner: Partner integration scope.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Partner API key as the username and an empty password.
